/* You can add global styles to this file, and also import other style files */
.panel{
    border:0;
    box-shadow: none;
}

label {
    font-weight: normal;
}

.form-control {
    box-shadow: none;
}

.panel-body {
    padding-top: 30px;
}

.panel-body .row {
    width: 80%;
    margin: auto;
}

.panel-body .row > div {
    padding-left: 20px;
    padding-right: 20px;
}

.btn-row {
    padding: 0;
    margin-top: 20px;
}

.btn-app {
    margin-right: 12px;
}

.panel-heading {
    border-bottom: 0;
}

.panel-default > .panel-heading {
    background-color: #1a773b;
    color: #fff;
}

.ng-progress-bar {
  background: rgba(0, 0, 0, 0.25);
  height: 100%;
  pointer-events: none;
}
.ng-bar-placeholder {
    height: 0.4rem;
  }
  .ng-spinner {
    top: calc(50% - 15px) !important;
    right: calc(50% - 15px) !important;
  }
  .ng-spinner-icon {
    -moz-animation: spinner-loader 1500ms infinite linear !important;
    -webkit-animation: spinner-loader 1500ms infinite linear !important;
    animation: spinner-loader 1500ms infinite linear !important;
    -moz-border-radius: 0.5em !important;
    -webkit-border-radius: 0.5em !important;
    border-radius: 0.5em !important;
    -moz-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0 !important;
    -webkit-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0 !important;
    box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0 !important;
    display: inline-block !important;
    font-size: 10px !important;
    width: 1em !important;
    height: 1em !important;
    margin: 1.5em !important;
    overflow: hidden !important;
    text-indent: 100% !important;
    border-color: transparent !important;
  }

@-moz-keyframes spinner-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}