<div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/home']">EHRS</a>
    </div>
    <ul class="nav navbar-nav">
      <li *ngIf="showManageUsersMenu"><a [routerLink]="['/users/list']">Manage User</a>
      <li *ngIf="showManagePatientsMenu"><a [routerLink]="['/patients']">Manage Patients</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a>Welcome {{loggedUserName}}</a>
      </li>
      <li>
        <a href="javascript:void(0);" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>