<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="EHRS.BLL.Abstract.IUserService, EHRS.BLL"
              mapTo="EHRS.BLL.Concrete.UserService, EHRS.BLL" />

    <register type="EHRS.DAL.Abstract.IUserLoginRepository, EHRS.DAL"
              mapTo="EHRS.DAL.Concrete.UserLoginRepository, EHRS.DAL" />
    <register type="EHRS.DAL.IUnitOfWork, EHRS.DAL"
             mapTo="EHRS.DAL.UnitOfWork, EHRS.DAL" />

    <register type="EHRS.DAL.Entity.EHRSdbContext, EHRS.DAL"
               mapTo="EHRS.DAL.Entity.EHRSdbContext, EHRS.DAL" />
  </container>
</unity>