<h2 class="text-center">Create User</h2>
<br>
<form name="user-form" id="user-form" [formGroup]="userForm" novalidate autocomplete="off" #formRef="ngForm" (ngSubmit)="saveUser();">

  <div class="panel panel-default">
    <div class="panel-heading">User Information</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label>Firstname</label>
            <input type="text" formControlName="FirstName" autocomplete="off" class="form-control">
            <span *ngIf="(FirstName.errors && (FirstName.touched || formRef.submitted))" class="text-danger">Please enter a value</span>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label>Lastname</label>
            <input type="text" formControlName="LastName" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
              <label>Email</label>
              <input type="text" formControlName="Email" class="form-control">
              <span *ngIf="(Email.errors && (Email.touched || formRef.submitted))" class="text-danger">Please enter a email</span>
          </div>          
        </div>
        <div class="col-lg-6">
          <div class="form-group">
              <label>Contact No.</label>
              <input type="text" formControlName="MobileNumber" maxlength="10" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
                <label>Birthdate</label>
                <input type="date" formControlName="BirthDate" class="form-control">
            </div>
            <div class="form-group">
                <label>Roles</label>
                <ng-multiselect-dropdown
                [data]="roleOptions" formControlName="Roles"
                [settings]="dropdownSettings">
              </ng-multiselect-dropdown>
              <span *ngIf="(Roles.errors && (Roles.touched || formRef.submitted))" class="text-danger">Please select a role</span>   
            </div>          
          </div>
          <div class="col-lg-6">
            <div class="form-group">
                <label>Address</label>
                <textarea rows="5" formControlName="Address" class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div>
          <div class="btn-row">
              <div class="pull-right form-btn">
                  <button type="button" [routerLink]="['/users', 'list']" class="btn btn-default btn-app">Cancel</button>
                  <button type="submit" class="btn btn-success btn-app">Save</button>
              </div>                
          </div>           
        </div>
    </div>
  </div>

</form>